<head>
    <title>{{site.title}}</title>
    
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="stylesheet" href="https://cdn.plyr.io/3.6.2/plyr.css" />
    <link href="https://fonts.googleapis.com/css2?family=Karla:wght@400;700&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Oleo+Script&display=swap" rel="stylesheet">

    <link rel="stylesheet" href="{{"/assets/css/main.css" | relative_url }}">
    <link rel="stylesheet" href="{{ "/assets/css/mobile.css" | relative_url }}">

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.13.0/css/all.min.css">
</head>