<h3>
    Shownotes
</h3> 
<h4>
    SUPPORTA IL PODCAST:
</h4>  
<p>
Ti piace questo podcast? Supportalo economicamente per permettermi di proseguire!  
Supportami tramite <a href="https://www.patreon.com/artedellalettura">Patreon</a>.<br>
Acquista una maglietta sullo store Arte della Lettura: <a href="https://www.artedellalettura.it/store/">Arte della Lettura Store</a>.  
<br>
Puoi anche supportare il podcast condividendo qualche episodio sui social! Ogni forma di supporto aiuta enormemente.
</p>
<br>
<h4>
    SOCIAL:
</h4> 
<p>
<a href="https://www.artedellalettura.it">Blog</a>  <br>

<a href="https://www.instagram.com/arte_della_lettura">Instagram</a><br>

<a href="https://www.youtube.com/channel/UCwy9OpiuWjhZyBcAjuXz02w">YouTube</a><br>

<a href="https://twitter.com/ArteLettura">Twitter</a><br>

<a href="https://www.facebook.com/arte.lettura">Facebook</a><br>
<a href="mailto:info@artedellalettura.it">Email</a><br>
</p>