<img src="{{"assets/img/Podcast_Cover_500.jpg" | absolute_url}}" alt="Podcast Cover">

<div id = "info">
    <h3>{{site.title}}</h3>
    <h4><i>{{site.description}}</i></h4>
</div>
<div id = "social">
    {% for item in site.data.settings.social %}
    {% if item.type == "brand"%}
      <a href="{{ item.link }}" target="_blank" id="{{item.icon}}"><i class="fab fa-{{item.icon}}" aria-hidden="true"></i></a>
    {% endif %}
    {% if item.type == "solid"%}
      <a href="{{ item.link }}" target="_blank" id="{{item.icon}}"><i class="fas fa-{{item.icon}}" aria-hidden="true"></i></a>
    {% endif %} 
  {% endfor %}
</div>
<div id = "ascoltare">
    <h3>Where To Listen</h3>
    <div id = "lista-siti">
        <ul id = "siti">
          {% for item in site.data.settings.websites-podcast  %}
          <li><a href="{{ item.url | absolute_url}}"> {{ item.name }}</a></li>
          {% endfor %}
        </ul>
      </div>
</div>