$base-color: #01a0e4;

* {
    -webkit-box-sizing: border-box;
       -moz-box-sizing: border-box;
            box-sizing: border-box;
            margin: 0px;
            padding: 0px;
            font-family: 'Karla', sans-serif;
}
html{
    scroll-behavior: smooth;
}

a{
    text-decoration: none;
}

.container{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: flex-start;
    .content{
        order: 1;
        width: 55%;
    }
}
