.player-container{
    margin: 75px auto;
    max-width: 500px;
    height: fit-content;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    margin-top: 300px;
    font-family: 'Open Sans', sans-serif;
}