.container{
    .sidebar{
        width: 15%;
        order: 5;
        background-color: white;
        padding-bottom: 30px;
        img{
            max-width: 100%;
            height: auto;
            //border: 1px solid white;
        }
    }
}