---
---

@media screen and (max-width: 768px){
    .container{
        flex-direction: column;
        align-items: center;
        align-content: center;
        .content{
            width: 90% !important;
        }
        .sidebar{
            margin-top: 30px;
            width: 50% !important;
        }
    }
    body{
        background-size: 286%;
        background-position-x: 31%;
    }
}

@media (min-width: 768px){
    #hammenuToggle{
        display: none !important;
        visibility: hidden !important;
        position: absolute !important;
    }
}