---
layout: default
---
{% for post in paginator.posts %}


<div class="post">

    <div class = "cover-img">
      {% if post.cover %}
        <img src="{{post.cover}}" alt="Podcast Cover">
      {% else %}
        <img src="{{ "/assets/img/Podcast_Cover_Small.jpg" | absolute_url}}" alt="Podcast Cover">
      {% endif %}
    </div>

    <div class = title>
        <h2 id = "post-title"><a href="{{ post.url  | absolute_url }}">{{ post.title }}</a></h2>

        <div class = "info">
            <span>
              {% if site.data.settings.translate-date == true %}
                <i class="far fa-calendar" aria-hidden="true"></i>{%- include date.html date=post.date -%}<span> - </span><i class="far fa-clock"></i> {{post.length}}
              {% else %}
                <i class="far fa-calendar" aria-hidden="true"></i>{{ post.date | date_to_long_string}}<span> - </span><i class="far fa-clock"></i> {{post.length}}
              {% endif %}
            </span>
        </div>
    </div>


    {% capture file %}
        {{- post.file -}}
    {% endcapture %}
    {% capture title %}
        {{- post.title -}}
    {% endcapture %}
    {% include player.html file=file title=title %}

    <div class = "long-excerpt">
        <p>
            {% if post.description %}
                {{post.description | strip_html | truncatewords:100}}
            {% else %}
                {{ post.content | strip_html | truncatewords:100 }}
            {% endif %}
            <span class = "continue-reading"><a href="{{ post.url | absolute_url }}">Continue</a></span> 
        </p> 
    </div>

    <div class = "short-excerpt">
        <p>
            {% if post.description %}
                {{post.description | strip_html | truncatewords:30}}
            {% else %}
                {{ post.content | strip_html | truncatewords:30 }}
            {% endif %}
            <span class = "continue-reading"><a href="{{ post.url | absolute_url }}">Continue</a></span> 
        </p> 
    </div>

</div>
{% endfor %}


<!-- Pagination links -->
{% if paginator.total_pages > 1 %}
<div class="pagination">
  {% if paginator.previous_page %}
    <a href="{{ paginator.previous_page_path | prepend: site.baseurl | replace: '//', '/' }}">&laquo; Prev</a>
  {% else %}
    <span class = "inactive">&laquo; Prev</span>
  {% endif %}

  {% for page in (1..paginator.total_pages) %}
    {% if page == paginator.page %}
      <span class = "inactive">{{ page }}</span>
    {% elsif page == 1 %}
      <a href="/">{{ page }}</a>
    {% else %}
      <a href="{{ site.paginate_path | prepend: site.baseurl | replace: '//', '/' | replace: ':num', page }}">{{ page }}</a>
    {% endif %}
  {% endfor %}

  {% if paginator.next_page %}
    <a href="{{ paginator.next_page_path | prepend: site.baseurl | replace: '//', '/' }}">Next &raquo;</a>
  {% else %}
    <span class = "inactive">Next &raquo;</span>
  {% endif %}
</div>
{% endif %}
