---
layout: default
title: Home
---
{% for post in paginator.posts %}



<div class="post">

    <div class = "cover-img">
        <img src="{{post.cover}}" alt="Podcast Cover">
    </div>

    <div class = title>
        <h2 id = "post-title"><a href="{{ post.url  | relative_url }}">{{ post.title }}</a></h2>

        <div class = "info">
            <span>
                <i class="far fa-calendar" aria-hidden="true"></i>
                <time datetime="{{ post.date | date_to_xmlschema }}" class="by-line">{%- include date.html date=post.date -%}</time> - <i class="far fa-clock"></i> {{post.length}}
            </span>
        </div>
    </div>


    {% capture filename %}
        {{- post.filename -}}
    {% endcapture %}
    {% capture title %}
        {{- post.title -}}
    {% endcapture %}
    {% include player.html filename=filename title=title %}

    <div class = "long-excerpt">
        <p>
            {% if post.description %}
                {{post.description | strip_html | truncatewords:100}}
            {% else %}
                {{ post.content | strip_html | truncatewords:100 }}
            {% endif %}
            <span class = "continue-reading"><a href="{{ post.url | relative_url }}">Continua</a></span> 
        </p> 
    </div>

    <div class = "short-excerpt">
        <p>
            {% if post.description %}
                {{post.description | strip_html | truncatewords:30}}
            {% else %}
                {{ post.content | strip_html | truncatewords:30 }}
            {% endif %}
            <span class = "continue-reading"><a href="{{ post.url | relative_url }}">Continua</a></span> 
        </p> 
    </div>

</div>
{% endfor %}


<!-- Pagination links -->
<div class = "paginator">
    {% if paginator.total_pages > 1 %}
    {% if paginator.next_page %}
      <a class = "older paginate-button" href="{{ paginator.next_page_path | relative_url }}">Older Posts</a>
    {% endif %}
    {% if paginator.previous_page %}
    <a class = "newer paginate-button" href="{{ paginator.previous_page_path | relative_url }}">Newer Posts</a>
  {% endif %}
  {% endif %}
</div>