---
layout: default
---

<div class = "single-post">
        <div class="categories">
                {% assign categories = page.categories %}
                {% for category in categories %}
                  <a href="{% capture url %}/cat/#{{ category | slugify }}{% endcapture %}
                  {{ url | relative_url }}">{{category}}</a>
                  {% unless forloop.last %}&nbsp;{% endunless %} 
                {% endfor %}
        </div>
        <h2>{{page.title}}</h2>

        {% if post.cover %}
                <img src="{{post.cover}}" alt="Podcast Cover">
        {% else %}
                <img src="{{ "/assets/img/cover.png" | relative_url}}" alt="Podcast Cover">
        {% endif %}
        
        <p>{{page.description}}</p>

        {% capture filename %}
                {{- page.filename -}}
        {% endcapture %}
        {% capture title %}
                {{- page.title -}}
        {% endcapture %}

        {% include player.html filename=filename title=page.title %}

        {% include video.html videoid = page.videoid %}

        {{ content }}

        {% include shownotes.html %}
</div>
